body{
    width: 100vw;
    height: 100vh;
    margin:0;
    padding:0;
    position: absolute ;
    overflow-x: hidden;
    background-color: black;
    z-index: -1;
}

#disclaimer{
    position: absolute;
    color: white;
    font-family: monospace;
    font-size: 17px;
    top: 0;
    left: 0;
    padding-left: 30px;

    text-transform: uppercase;
    & a{
        color: inherit;
        font-style: italic;
        font-weight: 800;
        text-decoration: underline;
    }
}

#page1{
    padding: 0 20px;
    width: 100%;
    height: fit-content;
    background-color: black;
    z-index: -1;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}   
#page1 h1{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    font-size: 180px;
    margin:0;
    left: 5%;
}
#page1 h1:hover{
    text-decoration: underline;
}



#heading{
    margin-top: 6rem;
    margin-bottom: 5rem;
    width: 65%;
}

.line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#page1 #heading .line p {
    color:white;
    font-size : 8vw;
    font-family: sans-serif;
    margin-left:1rem;
    margin:0rem;
    text-transform: uppercase;
    
}
.line p{
    transition: all 0.3s linear;
    
}
#heading:has(.fancy:hover) .word:not(.fancy:hover){
    opacity: 0.2;
}

#bottomDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    align-items: baseline;
}
#bottomDiv h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-right: 12px ;
    font-size: 70px;
}
#bottomDiv h1:hover{
    text-decoration: underline;
}
#bottomDiv .left h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin: 0;
    font-size:medium;
    color: white;
}
#page2{
    margin-top: 100%;
    position: sticky;
    width: 100%;
    height: fit-content;
    background-color: white;
    border-top-left-radius:75px ;
    border-top-right-radius:75px ;
    z-index: 3;
    padding-top: 8%;
}
#page2 .heading{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height:0;
}
#page2 .heading h1{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    font-size: 75px;
}
#page2 .content {
    position: relative;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 550;
}
#page2 .content img{
    border-radius: 40%;
    height: 550px;
    position: relative;
}

#page3{
    position: sticky;
    z-index: 6;
    height: 100vh;
    width: 100vw;
    background-color: cyan;
}